.image{
    background-image: url('gpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 10px;
}
h1{
    color: white;
}
input{
    background-color: transparent;
    font-size: 36px;
    border-radius: 10px;
    color: rgb(29, 211, 135);
    text-align: center;
}
input placeholder{
    color: black;
}
label{
    color:white;
    font-size: 25px;
}
.make{
    text-align: center;
    padding-top: 20px;
}
p{
    color: white;
    font-size: 36px;
}
button{
    color:white;
    border-radius: 10px;
    height: 48px;
    width: 180px;
    background-color: rgb(21, 21, 122);
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    outline: none;
    border: none;
}